@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap");
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: rgba(18, 25, 37, 1);
}

.button {
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid white;
  border-radius: 9px;
  cursor: pointer;
  box-shadow: white;
}
#clear {
  width: 132px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid white;
  border-radius: 9px;
  cursor: pointer;
  box-shadow: white;
  box: rgba(227, 166, 58, 1);
  color: aliceblue;
}
#equal {
  width: 132px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid white;
  border-radius: 9px;
  cursor: pointer;
  box-shadow: white;
  box: rgba(227, 166, 58, 1);
  color: aliceblue;
}

.row {
  margin: 8px 0;
}
.row input {
  width: 291px;
  font-size: 20px;
  margin: 0;
  padding: 10px 0px;
  border: 2px solid black;
  border-radius: 5px;
}
